<p-growl [value]="msgs"></p-growl>


<!--
<md-card class="centered">
    <h3> Voucher's listing


 <span (click)="onNewItem()" style="cursor:pointer">
            <i class="fa fa-plus-circle" aria-hidden="true" style="float:right; margin:4px 4px 0 0" ></i>
        </span>
</h3>
</md-card>
-->

<div *ngIf="shopName" style="display:flex;justify-content:center;flex-direction:row">
    <h1>{{shopName}}</h1>
</div>

<md-card>
    <div style="display:flex;flex-direction:row;">
        <div>
            <button md-raised-button color="primary" (click)="onGoBack()">Back</button>
        </div>

        <div style="flex-grow:1; justify-content:center">
            <h3 style="text-align:center"> Voucher's listing
                <span (click)="onNewItem()" style="cursor:pointer">
                    <i class="fa fa-plus-circle" aria-hidden="true" style="float:right; margin:4px 4px 0 0"></i>
                </span>
            </h3>
        </div>
    </div>

</md-card>


<div style="display:flex;flex-direction:column;">

    <div>

        <p-dataTable [value]="vouchers" sortMode="multiple" [rows]="40" [paginator]="true" [pageLinks]="3"
            [rowsPerPageOptions]="[20,40,80]" selectionMode="single" [(selection)]="selectedVoucher"
            (onRowSelect)="onRowSelect($event)" [globalFilter]="gb" resizableColumns="">

            <p-column field="name" header="Name" [sortable]="true"></p-column>


            <p-column field="initiator" header="Initiator" [sortable]="true">
                <template let-voucher="rowData" pTemplate type="body">
                    <span>{{voucher.fullnameInitiator}}</span>
                </template>
            </p-column>

            <p-column field="voucherValue" header="Value" [sortable]="true"></p-column>


            <p-column field="validityDate" header="Validity" [sortable]="true">
                <template let-voucher="rowData" pTemplate type="body">
                    <span
                        [ngClass]="{'boldIt':(voucher.validityDate >= today)}">{{voucher.validityDate | date:'dd/MM/yyyy' }}
                    </span>
                </template>
            </p-column>

            <p-column *ngIf="isAdmin" field="nbBeneficiaries" header="Beneficiaries" [sortable]="true">
                <template let-voucher="rowData" pTemplate type="body">
                    <span>{{voucher.nbBeneficiaries}} </span>
                </template>
            </p-column>


        </p-dataTable>
    </div>


    <div *ngIf="selectedVoucher">
        <app-voucher-detail [idShop]="idShop" [voucher]="selectedVoucher" (saved)="savedVoucher($event)"
            (deleted)="deletedVoucher($event)"></app-voucher-detail>
    </div>
</div>